<%-include('../partials/header')%>

    <nav>
        <div class="home">
            <p>Shopping-Hopping</p>
            <a href="/products" style="color: white;">Products</a>

        </div>
    </nav>
    
<%-include('../partials/footer')%>