<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5e520b7129.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <nav class="nav-flex">
        <div class="home"> 
            <p style="color: white; font-family:cursive; color: rgb(240, 152, 36);">Shopping-Hopping</p>
            <a class="mx-5" href="/products" style="color: rgb(118, 139, 233); text-decoration: none;">Products</a>

        </div>
        <div>
            <a href="/login" style="color:rgb(74, 241, 85);margin-right: 10px; font-size: 25px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Log in</a>
        </div>
    </nav>
    <div class="write">
        <p>Go to Products and find Your best collection</p>
    </div>

    <div class="copyright">
        <p>Copyright 2024 - Shopping-Hopping Pvt. Ltd. Policy Terms of Service</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>