*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg?w=996&t=st=1706955443~exp=1706956043~hmac=8410125c94dcf055288fcecd1339eb99941cfe5c9c19e79b112c739a7fd2aa42");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.home{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    text-decoration: none;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
}
.write{
    margin-top: 300px;
    margin-left: 530px;
    font-size: 20px;
    font-family:monospace;
    color: cadetblue;
    font-weight: bolder;
    /* background-color: aliceblue; */
}
.copyright{
    /* background-color: aliceblue; */
    margin-top: 250px;
    margin-left: 530px;
    color: rgb(121, 103, 103);
}